body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Gluten", cursive;
    margin-bottom: 94px;
}

header {
    border-bottom: solid 2px rgb(255,0,0);
    padding: 20px;
    font-size: 34px;
    color: rgb(255,0,0);
}

.chamada{
    background: rgb(126,30,23);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 41px;
}

p{
    font-size: 21px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 14px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img { 
    opacity: 0.4;
    height: 250px;
}

.categoria-videos img:hover {
    opacity: 1.5;
    border: 2px solid orangered;
}

.categoria h2 { 
    color: rgb(255,0,0);
}